<h1>問題を解き、優れたエンジニアに！</h1>
<%= image_tag "overview.png", id: "overview" %>

<hr>
<div class="row">
  <%= link_to "Let's Questions", questions_path, class: "btn menu_btn", rel: "tooltip", title: "問題一覧" %>
  <%= link_to "Send Answer", new_answer_path, class: "btn menu_btn", rel: "tooltip", title: "解答をテスト" %>
  <%= link_to "Feedback!", questions_path, class: "btn menu_btn", rel: "tooltip", title: "解答を送る" %>
</div>
