<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to image_tag('codest_rogo.png', size: '230x40'), root_path, class: "brand", id: "rogo" %>
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="i-bar"></span>
        <span class="i-bar"></span>
        <span class="i-bar"></span>
      </a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Questions", questions_path, {class: "menu", rel: "tooltip", data: { title:"sample" }} %></li>
          <li><%= link_to "Answer", new_answer_path, class: "menu" %></li>
          <li><%= link_to "Create Questions", setting_top_path, class: "menu" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

