<br/>
<div class="row">
  <%= link_to "Create Question!", setting_questions_path, class: "btn menu_btn", rel: "tooltip", title: "問題作成" %>
</div>
<hr>
<%= image_tag "setting.png", id: "overview" %>
<h1>アナタの手で、エンジニアを育てよう！</h1>
