$container_width: 750px;

div#container {
  width: 750px;
  margin: 0 auto;
}

div#header {
  border-bottom: 5px solid #000;

  div#menu {
    height: 100%;
    background: #000000;

    //テキスト系
    padding: 7.5px;
    font-size: 150%;
    color: #ffffff;
  }
}

div#conent {
}

div#footer {
  border-top: 4px solid #6bb;
}
