$container_width: 750px;
body {
  padding-top: 60px;
}

.navbar-inner {
  background: #ffffff;
}

#rogo {
  padding: 0;
  margin-left: 0px;
}

.menu {
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
}


div#container {
  width: 750px;
  margin: 0 auto;
}

div#header {
  
  div#menu {
    height: 100%;
    background: #000000;

    //テキスト系
    padding: 7.5px;
    font-size: 150%;
    color: #ffffff;
  }
}

div#conent {
}

div#footer {
  border-top: 4px solid #6bb;
}
