<h1>実行結果</h1>

<h2>結果</h2>
<%
  @result[0].gsub!(/Failure/, "失敗")
  @result[0].gsub!(/expected but was/, "期待値")
  @result[0].gsub!(/tests/, "テスト")
  @result[0].gsub!(/assertions/, "アサーション")
  @result[0].gsub!(/failures/, "失敗")
  @result[0].gsub!(/errors/, "エラー")
  @result[0].gsub!(/skips/, "スキップ")


%>

<% @result[0].lines do |line| %>
  <%= line %>
  <br/>
<% end %>
<br/>
<h2>エラー</h2>
<% @result[1].lines do |line| %>
  <%= line %>
  <br/>
<% end %>
