<h1>Test Result</h1>
<div class="thumbnail jumbotron">
  <div class="caption">
    <h2>結果</h2>
    
    <% @result[0].lines do |line| %>
      <%= line %>
      <br/>
    <% end %>
    <br/>
    <hr/>
     
    <h2>エラー</h2>
    <% @result[1].lines do |line| %>
      <%= line %>
      <br/>
    <% end %>
  </div>
</div>

<%= link_to 'Back', root_path %>

