<h1>Listing questions</h1>

<%= link_to "New Question", new_setting_question_path %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.title %></td>
        <td><%= truncate question.content, omission: "..." %></td>
        <td><%= link_to "show", setting_question_path(question.id), class: "btn btn-primary" %></td>
      <% end %>
    </tr>
  </tbody>
</table>
